
/* Smartphone layout */
@media(max-width: 10cm){
    #dashboard .content{ 
        display: grid;
        grid-template-columns: 100%;
    }

    .block{
        margin: 25px 5px;
    }
    
    #controls{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

/*Computer layout*/
@media(min-width: 10cm){

    #dashboard .content{ 
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    #video{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 100%;
    }
    #rviz{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 100%;
    }

    .block{
        margin: 5px;
    }
}